{% load static %}
<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Seyed Hamid Mousavi</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
  
      <link rel="stylesheet" href="{% static 'css/style.css' %}">
      <style> .indented { padding-left: 50pt; padding-right: 50pt; } 
      </style>
      <style>
.center { 
  height: 200px;
  position: relative;
  border: 3px solid green; 
}

.center p {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
</style>

</head>

<body>

  <section class="hero">
  <div class="content">
    <div class="header">
      <h1>Seyed Hamid Mousavi Resume</h1>
    </div>
  </div>
</section>
<section class="about-myself">
  <div class="content">
    <h2>Summary</h2>
    <p align="justify">I have a master degree in <span>financial engineering.</span></p>
  </div>
</section>
<section class="experience" style="background-color:#00204a">
  <div class="content">
    <h1>Work Experience</h1>
    <ul>
      <li>
        <div class="experience-content hidden">
          <h2>Market risk manager, Tamadon Investment bank, Tehran, Iran</h2>
          <div class="experience-time">March 2017 – present</div>
          <p class="ex1" align="justify">Identifying and measuring market risk of the entire bank, which is the biggest investment bank of Iran <b>(AUM: $4.0 billion (2018))</b></p>
          <p class="ex1" align="justify">Developing and implementing a <b>Decision Support System (DSS)</b> in python to analyze and give the best decision whether to issue and underwrite different municipal and corporate bonds based on different risks to CEO and other senior managers, <b>resulted in millions of dollors loss decrease</b></p>
          <p class="ex1" align="justify">Developing and implementing a model in python to measure <b>return of different contracts</b> of the bank, <b>increased ROE, ROA by 1%</b></p>
          <p class="ex1" align="justify">Developing a model to <b>predict cash requirement</b> for next day <b>market making</b> business line of the bank</p>
          <p class="ex1" align="justify">Developing and implementing <b>option pricing and strategy maker</b> in python for senior managers of the bank, <b>saved millions of dollars</b></p>
          <p class="ex1" align="justify">Modeling <b>yield curve</b> of Iranian market using <b>bootstrap and SDEs</b></p>
          <p class="ex1" align="justify">Head of Alborz Insurance risk team, one of the <b>biggest private insurance</b> of Iran</p>
        </div>
      </li>
      <li>
        <div class="experience-content hidden">
          <h2>Derivative portfolio manager, Tosan ofogh hezare, Tehran, Iran</h2>
          <div class="experience-time">March 2016 – July 2018</div>
          <p class="ex1" align="justify">Managing the company <b>derivative portfolio</b> of futures, options and CFDs</p>
            <p class="ex1" align="justify">Developing and implementing <b>news analysis models (NLP)</b> in python</p>
            <p class="ex1" align="justify">Developing and implementing a model to work with <b>tick by tick big data</b> of LSE (London Stock Exchange) in python</p>
            <p class="ex1" align="justify">Developing an <b>algorithm for trading gold future</b></p>
            <p class="ex1" align="justify">Developing a model to <b>predict usd/irr rate</b></p>
            <p class="ex1" align="justify"><b>Fundamental & economic analysis</b></p>
            <p class="ex1" align="justify">Developing <b>Algorithmic trading strategies</b></p>
            <p class="ex1" align="justify"><b>Statistical Arbitrage</b> trading strategies</p>
            <p class="ex1" align="justify"><b>Hedging</b> Rial against dollar rate increase</p>
        </div>
      </li>
      <li>
        <div class="experience-content hidden">
          <h2>Market risk manager, Arzesh pardaz arian, Tehran, Iran</h2>
          <div class="experience-time">May 2015 – March 2017</div>
          <p class="ex1" align="justify"><b>Identifying Risk</b> of the entire bank, which is the biggest private bank of Iran <b>(Assets: $26.0 billion (2017))</b> according to Basel II and III</p>
            <p class="ex1" align="justify">Implemented and institutionalized <b>Trading Book & Banking Book</b> concepts in the bank</p>
            <p class="ex1" align="justify">Developed and implanted a model to measure <b>Operational Risk</b> based on severity and frequency of different business lines of the bank</p>
            <p class="ex1" align="justify"><b>Measuring Market Risk</b> of bank and it's subsidiaries</p>
        </div>
      </li>
      <li>
        <div class="experience-content hidden">
          <h2>R&D supervisor¸ Arad international group, Tehran, Iran</h2>
          <div class="experience-time">June 2015 – March 2016</div>
          <p class="ex1" align="justify">Did research in <b>wealth management</b></p>
          <p class="ex1" align="justify">Created different <b>plans for clients</b> according to their requirements</p>           
        </div>
      </li>
      <li>
          <div class="experience-content hidden">
            <h2>Financial Analyst¸ IPC GROUP, Tehran, Iran</h2>
            <div class="experience-time">June 2014 – October 2014</div>
            <p class="ex1" align="justify"><b> Vertical and Horizontal</b> analysis</p>
            <p class="ex1" align="justify"><b>Rating</b> Companies</p>  
            <p class="ex1" align="justify"><b>Data mining</b> with Wekka</p> 
            <p class="ex1" align="justify">Member of <b>International committee</b></p> 
            <p class="ex1" align="justify"><b>Business Process Model and Notation (BPMN)</b></p>         
          </div>
        </li>
        <li>
          <div class="experience-content hidden">
            <h2>Worked in different places, Iran</h2>
            <div class="experience-time">September 2011 - June 2014</div>
            <p class="ex1" align="justify"><b>Restuarant</b></p>
            <p class="ex1" align="justify"><b>Supermarket</b></p>
            <p class="ex1" align="justify">Worked as a <b>sale person</b></p>
          </div>
        </li>
    </ul>
  </div>
</section>
<section class="education">
  <div class="content">
    <h1>Education</h1>
    <ul>
      <li>
        <div class="education-content hidden">
          <h2>Khatam University, Tehran, Iran</h2>
          <div class="education-time">July 2014 – February 2017</div>
          <p class="ex1" align="justify">Master in Financial engineering			   <b>GPA: 18.85 form 20 (3.8 from 4)</b></p>
          <p class="ex1" align="justify">Thesis Title: Intraday VaR estimation with EVT-Copula approach</p>
        </div>
      </li>
      <li>
        <div class="education-content hidden">
          <h2>Foolad Institute of Technology, Isfahan, Iran</h2>
          <div class="education-time">September 2007 - September 2011</div>
          <p class="ex1" align="justify">Bachelor in Industrial engineering			   <b>GPA: 15.2 form 20</b> </p>
          <p class="ex1" align="justify">Thesis Title: Quality Control Case Study </p>
        </div>
      </li>
    </ul>
  </div>
</section>
<section class="awards" style="background-color:#80ced6">
  <div class="content">
    <div class="development">
      <h2 class="development-title">Awards adn Honors</h2>
      <ul class="awards-bar-container">
          <p class="ex1" align="justify" style="color:black;"><b>•	Ranked 1st</b>, in terms of cumulative GPA among M.Sc.  financial engineer students of the department, 2014 beginners, Khatam University resulted in tuition waive</p>
          <p class="ex1" align="justify" style="color:black;"><b>•	Ranked 591st</b>, among about 1 million candidates participated in MS. University Entrance Test, 2014</p>
          <p class="ex1" align="justify" style="color:black;"><b>•	Ranked 3st</b>, in terms of GPA among B.Sc. industrial engineer students of the department, 2007 beginners, Foolad Institute of Technology resulted in tuition waive</p>
          <p class="ex1" align="justify" style="color:black;"><b>•	Ranked 1st</b>, in terms of score among French language students of the class, 2012 beginners for 2 consecutive semesters, Kowsar Institute Isfahan Iran, resulted in tuition waive</p>
      </ul>
    </div>
    <div class="clear"></div>
  </div>
  <div class="clear"></div>
</section>
<section class="awards" style="background-color:#FFCB9A">
    <div class="content">
      <div class="development">
        <h2 class="development-title">Research</h2>
        <ul class="awards-bar-container">
            <p class="ex1" align="justify" style="color:black;"><b>•	Intraday VaR estimation</b> with EVT-Copula approach, Risk Modeling and Financial Engineering, 2017</p>
            <p class="ex1" align="justify" style="color:black;"><b>•	Heterogeneous Agent Model:</b> A Tehran gold market study- In preparation</p>
            <p class="ex1" align="justify" style="color:black;"><b>•	Marked self-exiting Point Process-Copula</b> approach for risk estimation of a portfolio of stocks- In preparation</p>
            <p class="ex1" align="justify" style="color:black;"><b>•	Bearish and Bullish Risk of Intraday Data:</b> A Tehran Stock Exchange Case- In preparation</p>
        </ul>
      </div>
      <div class="clear"></div>
    </div>
    <div class="clear"></div>
  </section>
<section class="awards" style="background-color:#fefbd8">
    <div class="content">
      <div class="development">
        <h2 class="development-title">Skills</h2>
        <ul class="awards-bar-container">
            <p class="ex1" align="justify"><b>•	Derivative portfolio management:</b> pricing, binomial trees, Greeks, hedging</p>
            <p class="ex1" align="justify"><b>•	Valuation:</b> FCF, DDM, QRA</p>
            <p class="ex1" align="justify"><b>•	Fix income portfolio management:</b> immunization, cash flow matching, yield curve modeling, Duration & Convexity, Vasicek, CIR, Hull-White</p>
            <p class="ex1" align="justify"><b>•	Simulation:</b> Monte Carlo simulation, SDEs, GBM</p>
            <p class="ex1" align="justify"><b>•	Risk management:</b> VaR, ES, Trading & Banking Book, Gap, Duration Gap, Compliance</p>
            <p class="ex1" align="justify"><b>•	Algorithmic trading:</b> Mean Reversion, Statistical Arbitrage, Spot-Future Arbitrage</p>
            <p class="ex1" align="justify"><b>•	Programing languages:</b> python (advanced), matlab (intermediate), r (intermediate), excel-vba (advanced), Crystal Ball (Basic), C# (basic), eviews (intermediate)</p>
            <p class="ex1" align="justify"><b>•	Econometrics models:</b> LM, GLM, LU factorization, Cholesky decomposition, Singular value decomposition, Bayesian Inference</p>
            <p class="ex1" align="justify"><b>•	Time series models:</b> ML, GMM, ARIMA, ARCH & GARCH, VAR, EVT, GEV, GPD, ACD, Copula, HAM, Markov chains, PCA, Box-Jenkins</p>
            <p class="ex1" align="justify"><b>•	Deep Learning:</b> keras & tensorflow (python)</p>
            <p class="ex1" align="justify"><b>•	News analysis:</b> NLP, Naive Bayes Classification</p>
            <p class="ex1" align="justify"><b>•	Big data:</b> analysis using python numpy and pandas packages</p>
            <p class="ex1" align="justify"><b>•	Optimization:</b> Gradient descent, Genetic algorithms (GA)</p> 
            <p class="ex1" align="justify"><b>•	API:</b> using different web apis to receive and manipulate data</p>
            <p class="ex1" align="justify"><b>•	General softwares:</b> Microsoft word, excel and PowerPoint (advanced), LaTeX (intermediate), photoshop (intermediate)</p>
            <p class="ex1" align="justify"><b>•	Database:</b> SQL (basic), NoSQL (Basic)</p>
            <p class="ex1" align="justify"><b>•	Analytic hierarchy process:</b> Expert choice</p>
            <p class="ex1" align="justify"><b>•	Vertical and horizental analysis:</b> of iranian companies</p>
            <p class="ex1" align="justify"><b>•	Data mining:</b> Weka</p>
            <p class="ex1" align="justify"><b>•	Website management:</b> WordPress</p>
        </ul>
      </div>
      <div class="clear"></div>
    </div>
    <div class="clear"></div>
  </section>
<section class="skills">
  <div class="content">
    <div class="development-wrapper">
      <h2 class="development-title">Programing Languages</h2>
      <ul class="skills-bar-container">
        <li>
          <div class="progressbar-title">
            <h3>Python</h3>
            <span class="percent" id="html-pourcent"></span>
          </div>
          <div class="bar-container" data-percent="100">
            <span class="progressbar" id="progress-html"></span>
          </div>
        </li>
        <li>
          <div class="progressbar-title">
            <h3>Excel-vba</h3>
            <span class="percent" id="css-pourcent"></span>
          </div>
          <div class="bar-container" data-percent="100">
            <span class="progressbar" id="progress-css"></span>
          </div>
        </li>
        <li>
          <div class="progressbar-title">
            <h3>R</h3>
            <span class="percent" id="javascript-pourcent"></span>
          </div>
          <div class="bar-container" data-percent="50">
            <span class="progressbar" id="progress-javascript"></span>
          </div>
        </li>
        <li>
          <div class="progressbar-title">
            <h3>Matlab</h3>
            <span class="percent" id="php-pourcent"></span>
          </div>
          <div class="bar-container" data-percent="50">
            <span class="progressbar" id="progress-php"></span>
          </div>
        </li>
        <li>
            <div class="progressbar-title">
              <h3>Eviews</h3>
              <span class="percent" id="php-pourcent"></span>
            </div>
            <div class="bar-container" data-percent="50">
              <span class="progressbar" id="progress-php"></span>
            </div>
          </li>
          <li>
              <div class="progressbar-title">
                <h3>Crystal Ball</h3>
                <span class="percent" id="php-pourcent"></span>
              </div>
              <div class="bar-container" data-percent="50">
                <span class="progressbar" id="progress-php"></span>
              </div>
            </li>
          <li>
              <div class="progressbar-title">
                <h3>HTML</h3>
                <span class="percent" id="php-pourcent"></span>
              </div>
              <div class="bar-container" data-percent="40">
                <span class="progressbar" id="progress-php"></span>
              </div>
            </li>
        <li>
          <div class="progressbar-title">
            <h3>C#</h3>
            <span class="percent" id="angular-pourcent"></span>
          </div>
          <div class="bar-container" data-percent="10">
            <span class="progressbar" id="progress-angular"></span>
          </div>
        </li>
      </ul>
    </div>
    <div class="tools-knowledge-wrapper">
      <div class="tools-wrapper">
        <h2 class="title">Tools</h2>
        <ul class="tools">
          <li>
            <i class="fa fa-check" aria-hidden="true"></i>
            Microsoft Word
          </li>
          <li>
            <i class="fa fa-check" aria-hidden="true"></i>
            Microsoft PowerPoint
          </li>
          <li>
            <i class="fa fa-check" aria-hidden="true"></i>
            Microsoft Excel
          </li>
          <li>
            <i class="fa fa-check" aria-hidden="true"></i>
            Microsoft Visio
            </li>
          <li>
            <i class="fa fa-check" aria-hidden="true"></i>
            LaTex
          </li>
          <li>
            <i class="fa fa-check" aria-hidden="true"></i>
            Photoshop
          </li>
        </ul>
      </div>
    </div>
    <div class="clear"></div>
  </div>
  <div class="clear"></div>
</section>
<section class="awards" style="background-color:#d5f4e6">
    <div class="content">
      <div class="development-wrapper">
        <h2 class="development-title">Language</h2>
        <ul class="awards-bar-container">
            <p class="ex1" align="justify" style="color:black;"><b>•	Persian:</b> Mother tongue</p>
            <p class="ex1" align="justify" style="color:black;"><b>•	English:</b> 
                                                                        <p align="justify" style="color:black;" class="indented"><b>TOEFL 98:</b> reading 29, listening 27, speaking 18, writing 24</p>
                                                                        <p align="justify" style="color:black;" class="indented"><b>GRE 312:</b> verbal 152, quant 160, writing 3.5</p>
            <p class="ex1" align="justify" style="color:black;"><b>•	French:</b> Basic</p>
        </ul>
      </div>
      <div class="clear"></div>
    </div>
    <div class="clear"></div>
  </section>
  <section class="awards" style="background-color:#65c6c4">
      <div class="content">
        <div class="development-wrapper">
          <h2 class="development-title">Refrence</h2>
          <ul class="awards-bar-container">
              <p class="ex1" align="justify" style="color:black;"><b>•	Maryam Hassanlou</b>, kh.hassanlou@khatam.ac.ir, California State University San Marcos, USA
              <p class="ex1" align="justify" style="color:black;"><b>•	Dr. Ahmad Pouyanfar</b>, a.pouyanfar@khatam.ac.ir, Khatam University, Tehran, Iran
              <p class="ex1" align="justify" style="color:black;"><b>•	Dr. Mohamad Mahdi Mousavi</b>, mahdimousavi_1@yahoo.com, Khatam University, Tehran, Iran
              <p class="ex1" align="justify" style="color:black;"><b>•	Dr. Mohammad Davarpanah Jazi</b>, mdjazi@cc.iut.ac.ir, Isfahan University of Technology, Isfahan, Iran
              <p class="ex1" align="justify" style="color:black;"><b>•	M.Sc. Saeid Beyti</b>, Head of R&D, Arzesh pardaz arian, Tehran, Iran
          </ul>
        </div>
        <div class="clear"></div>
      </div>
      <div class="clear"></div>
    </section>
    <section class="awards" style="background-color:#116466">
        <div class="content">
          <div class="development-wrapper">
            <h2 class="development-title" style="color:white;">Volunteer Work</h2>
            <ul class="awards-bar-container">
                <p class="ex1" align="justify" style="color:white;"><b>Hilal Ahmar:</b> a charitable organization; the equivalent of the International Red Cross 
            </ul>
          </div>
          <div class="clear"></div>
        </div>
        <div class="clear"></div>
      </section>
      <section class="skills">
        <div class="content">
          <div class="development-wrapper1">
            <h2 class="development-title">Personal Skills</h2>
            <ul class="skills-bar-container">
              <li>
                <div class="progressbar-title">
                  <h3>Leadership</h3>
                  <span class="percent" id="html-pourcent"></span>
                </div>
                <div class="bar-container" data-percent="95">
                  <span class="progressbar" id="progress-html"></span>
                </div>
              </li>
              <li>
                <div class="progressbar-title">
                  <h3>Communication</h3>
                  <span class="percent" id="css-pourcent"></span>
                </div>
                <div class="bar-container" data-percent="90">
                  <span class="progressbar" id="progress-css"></span>
                </div>
              </li>
              <li>
                <div class="progressbar-title">
                  <h3>Organization</h3>
                  <span class="percent" id="javascript-pourcent"></span>
                </div>
                <div class="bar-container" data-percent="90">
                  <span class="progressbar" id="progress-javascript"></span>
                </div>
              </li>
              <li>
                <div class="progressbar-title">
                  <h3>Team Player</h3>
                  <span class="percent" id="php-pourcent"></span>
                </div>
                <div class="bar-container" data-percent="95">
                  <span class="progressbar" id="progress-php"></span>
                </div>
              </li>
              <li>
                  <div class="progressbar-title">
                    <h3>Creativity</h3>
                    <span class="percent" id="php-pourcent"></span>
                  </div>
                  <div class="bar-container" data-percent="85">
                    <span class="progressbar" id="progress-php"></span>
                  </div>
                </li>
                <li>
                    <div class="progressbar-title">
                      <h3>Social</h3>
                      <span class="percent" id="php-pourcent"></span>
                    </div>
                    <div class="bar-container" data-percent="85">
                      <span class="progressbar" id="progress-php"></span>
                    </div>
                  </li>
                <li>
                    <div class="progressbar-title">
                      <h3>Dedication</h3>
                      <span class="percent" id="php-pourcent"></span>
                    </div>
                    <div class="bar-container" data-percent="100">
                      <span class="progressbar" id="progress-php"></span>
                    </div>
                  </li>
              <li>
                <div class="progressbar-title">
                  <h3>Flexibility</h3>
                  <span class="percent" id="angular-pourcent"></span>
                </div>
                <div class="bar-container" data-percent="95">
                  <span class="progressbar" id="progress-angular"></span>
                </div>
              </li>
              <li>
                <div class="progressbar-title">
                  <h3>Adabtability</h3>
                  <span class="percent" id="angular-pourcent"></span>
                </div>
                <div class="bar-container" data-percent="95">
                  <span class="progressbar" id="progress-angular"></span>
                </div>
              </li>
              <li>
                <div class="progressbar-title">
                  <h3>Confidence</h3>
                  <span class="percent" id="angular-pourcent"></span>
                </div>
                <div class="bar-container" data-percent="90">
                  <span class="progressbar" id="progress-angular"></span>
                </div>
              </li>
              <li>
                <div class="progressbar-title">
                  <h3>Versatility</h3>
                  <span class="percent" id="angular-pourcent"></span>
                </div>
                <div class="bar-container" data-percent="90">
                  <span class="progressbar" id="progress-angular"></span>
                </div>
              </li>
            </ul>
          </div>
          <div class="clear"></div>
        </div>
        <div class="clear"></div>
      </section>
      <section class="awards" style="background-color:#588c7e">
          <div class="content">
            <div class="development-wrapper">
              <h2 class="development-title" style="color:white;">Interest</h2>
              <ul class="awards-bar-container">
                  <p class="ex1" align="justify" style="color:white;">Traveling, Mountain Climbing, Piano, Philosophy, swimming
              </ul>
            </div>
            <div class="clear"></div>
          </div>
          <div class="clear"></div>
        </section>
<!--<section class="resume">
  <div class="content">
    <a href="#" target="_blank">
      <div class="btn-resume">
        <i class="fa fa-download fa-2x" aria-hidden="true"></i>
        <span>Download my resume<span>
      </div>
    </a>
  </div>
</section>-->
<section class="portfolio">
  <div class="content">
    
    <h1>Activities</h1>
    
    <div class="projects">
      
      <div class="project">
        <div class="project-image">
          <img src="../static/intro/media/5.jpg" alt=""/>
        </div>
        <div class="project-title">
          <h2>Khatam Summer school</h2>
        </div>
        <div class="project-description">
          <p>It happened in september 2016, and it was about <b>big data</b> in economics. Different professors from <b>MIT</b>, <b>Stanford</b>, <b>LSE</b>, <b>Oxford</b>, <b>Imperial College London</b> lectured in this school about different matters in finance. In this school I <b>learned about big data specially in market making</b> and in different fields of finance and how to tackle them. Moreover, I learned a great deal about <b>Natural Language Processing (NLP)</b> and <b>News Analysis</b>. </p>
        </div>
      </div>
      <div class="project">
        <div class="project-image">
          <img src="../static/intro/media/6.jpg" alt=""/>
        </div>
        <div class="project-title">
          <h2>FinTech</h2>
        </div>
        <div class="project-description">
          <p>It happened in March 2017, and it was a match in <b>finace programing</b> that was held in Tarbiat Modares University. In this program we provide a proposal about <b>payment with biometrics</b> for banks.</p>
        </div>
      </div>
      <div class="project">
        <div class="project-image">
          <img src="../static/intro/media/7.jpg" alt=""/>
        </div>
        <div class="project-title">
          <h2>FinWars</h2>
        </div>
        <div class="project-description">
          <p>It happend in January 2017, and it was a match in<b>financial programing</b> that was held in Shahid Behesti University. In this program we created a <b>frameworkfor Algorithm Trading</b> using C# .net</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="contact">
  <div class="content">
    <ul class="socials">
      <li class="social">
        <a href="mailto:s.hamidm.22@gmail.com" target="_blank" class="email">
          <i class="fa fa-envelope" title="s.hamidm.22@gmail.com" aria-hidden="true"> s.hamidm.22@gmail.com</i>
        </a>
      </li>
      <li class="social">
        <a href="skype:-live:3dad304ec5edcd3c-?chat" target="_blank" class="twitter">
          <i class="fa fa-skype" aria-hidden="true" title="+98937813031"> +98937813031</i>
        </a>
      </li>
      <li class="social">
        <a href="http://www.linkedin.com/in/seyed-hamid-mousavi/" target="_blank" class="linkedin">
          <i class="fa fa-linkedin-square" aria-hidden="true" title="www.linkedin.com/in/seyed-hamid-mousavi"> seyed-hamid-mousavi</i>
        </a>
      </li>
      <!--<li class="social">
        <a href="#" target="_blank" class="codepen">
          <i class="fa fa-codepen" aria-hidden="true"></i>
        </a>
      </li>-->
    </ul>
    <div class="clear"></div>
  </div>
</section>
<section class="footer">
  <p></i> Made by Seyed Hamid Mousavi</p>
</section>
  <script src='https://code.jquery.com/jquery-2.2.4.min.js'></script>

  

    <script  src="{% static 'js/index.js' %}"></script>




</body>

</html>
